

@mixin respond-to($breakpoint) {
	@media (max-width: $breakpoint) {
		@content;
	}
}

@import 'skybox';
@import 'threejs';
@import 'panoramacontrol';
@import 'loaderspin';
@import 'video';

.possiblelogo {
	position: absolute;

	bottom: 40px;
	right: 40px;
	z-index: 99999;

	@include respond-to(600px) {
		display: none;
	}

}

