
.panorama__button {
	display: none;
	position: absolute;
	left: 50%;
	bottom: 100px;
	margin-left: -120px;
	padding: 20px;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	border-radius: 10px;
	border: 2px solid #ffffff;
	z-index: 99999;

	@include transition(all .3s);

	&__text {
		text-transform: uppercase;
	}

	&__device {
		font-size: 14px;
	}

	&:hover {
		background: #fff;
		color: #000;
	}

	&:active {
		background: #f03;
	}

}

